<%= form_for(@configuracao) do |f| %>
  <% if @configuracao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configuracao.errors.count, "error") %> prohibited this configuracao from being saved:</h2>

      <ul>
      <% @configuracao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
